BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
Standard: Cpp17
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignAfterOpenBracket: true
